#loginInputBox {
    background: lightgreen;
    margin: auto;
    width: 300px;
    height: 130px;
    top:100px;
    padding: 10px;
    position: relative;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-bar{
    background: darkkhaki;
    align: "right";
    
    
    
}

.Menu-left{
    position: absolute;
    border: thin;
    background: darkkhaki;
        
}
.MainTitle{
    position: "absolute"; 
    border: "3px solid green";
    background-color:"#9F9";
    
}
     .logout{
   align: "right";
     }
     
 